.cart-menu-list{
  padding: 0 10px;
  overflow-y: auto;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.cart-menu{
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.cart-menu h5{
  color: black;
  margin: 10px 0;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
}

.cart-menu li{
  list-style: none;
}

.qty-menu-btn{
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgb(200, 200, 200);
  margin: 0 2px;
  cursor: pointer;
}

.qty-menu-btn:hover{
  opacity: 0.5;
}

.cart-menu li:last-child{
  margin-bottom: 20px;
}