.spinner {
  --spinner-size: 30px;
  --spinner-color: #7983ff;
  width: var(--spinner-size);
  height: var(--spinner-size);
  
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--spinner-color); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}