.result-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  gap: 10px;
}

.result-products{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  align-items: start;
  gap: 32px;
}

.result-products a{
  width: 220px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  gap: 4px
}
