.profile-page-create-product a{
  display: flex;
  text-align: center;
}

.profile-page-create-product a{
  color:white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  width: 60%;
  background-color: green;
}